<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BIG DREAM CARS</title>
    <link rel="stylesheet" href="/all.min.css">
    <link rel="shortcut icon" href="/images/bdcc.jpg" type="image/x-icon">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/home.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bungee&family=Kanit:ital,wght@1,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/owl.carousel.min.css">
    <link rel="stylesheet" href="/owl.theme.green.min.css">
    <link rel="stylesheet" href="/stylesheets/review.css">


    <style>
        * {
            padding: 0;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="container-fluid p-0 m-0 header_1">
        <header>
          <nav class="navbar navbar-expand-lg navbar-light  py-3">
            <div class="container d-flex justify-content-between">
                <div class="w-25 ">
                    <h1 class=" text-white text-uppercase" style="font-size: 25px;">BIG DREAM CAR</h1>
                </div>
              <!-- <a class="navbar-brand w-25" href="/">
                <img class="w-75" src="/images/Untitled_1.png" alt="">
              </a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse ps-5 ms-5 w-50 navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2  mb-lg-0 text-uppercase">
                  <li class="nav-item ">
                    <a class="nav-link hebo hee px-3   text-white" aria-current="page" href="/home">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active hebo hee text-white px-3 " aria-current="page"
                      href="/sell_car">sell your car
                    </a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active hebo hee text-white px-3 " aria-current="page" href="/new_car">new car</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active hebo hee text-white px-3 " aria-current="page" target=""
                      href="/about">about us</a>
                  </li>
                </ul>
              </div>
              <div class="w-25 py-3 d-flex  justify-content-end ">
                <a href="/signup" class="border-0 mx-2 btn btn-primary bg-white " style="color: black;">SIGN UP</a>
                <a href="/signin" class="border-0 mx-2 btn btn-primary bg-white " style="color: black;">SIGN IN</a>
                <!-- <button type="button border-0" href="/signup" >signup</button> -->
              </div>
            </div>
          </nav>
      </header>
    </div>
    <div class="owl-carousel owl-theme hed">
        <div class="item bg-white  ">
    
          <img src="/images/bg.jpg" class="height" alt="">
          
        </div>
        <div class="item bg-white">
          
          <img src="/images/bg1.jpg" class="height" alt="">
    
        </div>
        <div class="item bg-white">
    
          <img src="/images/bg2.jpg" class="height" alt="">
          
        </div>
        
      </div>
   

  

    <div class="container">
        <div class="w-100 pr">
            <div class="w-1140">
                <div class="flex">
                    <div class="w-30 ptf">
                        <div class="leftside ">
                            <div class="tit">
                                <p>PLANNING FOR BUYING CAR?</p>
                            </div>
                            <div class="tit1">
                                <p>BUY YOUR CAR</p>
                                <p>IN FEW MINUTES.</p>
                            </div>

                            <div class="s-50">
                                <div class="logo pu flex">
                                    <div class="square"></div>
                                    <div class="img1"></div>
                                    <div class="buy-tit">
                                        <p style="font-weight: 200;">Cheap</p>
                                        <p>Prise</p>
                                    </div>

                                    <div class="padl flex">
                                        <div class="square"></div>
                                        <div class="img3"></div>
                                        <div class="buy-tit">
                                            <p style="font-weight: 200;">Best Offer</p>
                                            <p>All Time</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="flex">
                                    <div class="flex padul">
                                        <div class="square"></div>
                                        <div class="img4"></div>
                                        <div class="buy-tit">
                                            <p style="font-weight: 200;">1000+ Satisfied</p>
                                            <p>Customers</p>
                                        </div>
                                    </div>

                                    <div class="padul flex" style="padding-left: 51px;">
                                        <div class="square"></div>
                                        <div class="img5"></div>
                                        <div class="buy-tit">
                                            <p style="font-weight: 200;">Easy & Free </p>
                                            <p>Processing </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="know">
                                    <a href=""><input type="button" value="For Inquiry"
                                            onsubmit="data(event)"></input></a>
                                </div>
                                <p style="margin-top: 5px; color: red;">Please Signup The form then you sent a request
                                    for
                                    inquiry</p>
                            </div>
                        </div>
                    </div>
                    <div class="w-70 ptf">
                        <div class="img2">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100">
        <div class="w-1140">
            <div class="s-title">
                <h3>Customer car's @</h3>
                <h1>BIG DREAM CARS</h1>
            </div>

            <div class="container-fluid">
                <div class="row d-flex m-5">
                    <% for(let i=0;i< cs.length;i++){ %>
                        <div class="col-4 pt-4">
                            <div class="card-2 ro-bo ">
                                <div class="imgbox">
                                    <img src="./images/<%= cs[i].car_photos %>" alt="" class="w-100 ro-bo ">
                                </div>
                                <div class=" text-center ">
                                    <h2 class="mb-4">
                                        <%= cs[i].car_name %>
                                    </h2>
                                    <h6 class="text-uppercase"><span class="text-secondary">REG.
                                            YEAR</span>-&nbsp;&nbsp;<%= cs[i].reg_year %>
                                            &nbsp;&nbsp;&nbsp; <span class="text-secondary">|</span>&nbsp;&nbsp;&nbsp;
                                            <span class="text-secondary">KMS</span>&nbsp;-&nbsp;<%= cs[i].Km %>
                                                &nbsp;&nbsp;<span class="text-secondary">|</span>&nbsp;&nbsp;<span
                                                    class="text-secondary">FUEL TYPE</span>&nbsp;-&nbsp;<%=
                                                    cs[i].Vehicle_Type %>
                                    </h6>
                                </div>

                            </div>
                        </div>
                        <% } %>
                            <br><br><br>
                </div>
            </div>
        </div>
    </div>


    <div class="w-100">
        <div class="w-1140">
            <div class="s-title">
                <h3>POPULAR @</h3>
                <h1>BIG DREAM CARS</h1>
            </div>

            <div class="container-fluid">
                <div class="row d-flex m-5">
                    <% for(let i=0;i< c.length;i++){ %>
                        <div class="col-4 pt-4">
                            <div class="card-2 ro-bo ">
                                <div class="imgbox">
                                    <img src="./images/<%= c[i].car_photo %>" alt="" class="w-100 ro-bo ">
                                </div>
                                <div class=" text-center ">
                                    <h2 class="mb-4">
                                        <%= c[i].car_name %>
                                    </h2>
                                    <h6 class="text-uppercase"><span class="text-secondary">REG.
                                            YEAR</span>-&nbsp;&nbsp;<%= c[i].reg_year %>
                                            &nbsp;&nbsp;&nbsp; <span class="text-secondary">|</span>&nbsp;&nbsp;&nbsp;
                                            <span class="text-secondary">KMS</span>&nbsp;-&nbsp;<%= c[i].kms %>
                                                &nbsp;&nbsp;<span class="text-secondary">|</span>&nbsp;&nbsp;<span
                                                    class="text-secondary">FUEL TYPE</span>&nbsp;-&nbsp;<%=
                                                    c[i].fuel_type %>
                                    </h6>
                                </div>

                            </div>
                        </div>
                        <% } %>
                            <br><br><br>
                </div>
            </div>
        </div>
    </div>



    <div class="w-100 bgc" style="margin-top: 70px;">
        <div class="w-1140 " style="padding-top: 90px;">
            <div class="vid flex">
                <div class="w30">
                    <div class="title-1">
                        <p>BROWSE BIG DREAMS CAR</p>
                        <p>DATABASE OF NEW LUXURY</p>
                        <p>CARS IN INDIA</p>
                    </div>
                    <div class="tools" style="color: white; padding-top: 20px;">
                        <div class="icon flex">
                            <div class="img-icon"></div>
                            <!-- <div class="ic"></div>  -->
                            <p class="pm op">Expert Review On Luxury Cars</p>
                        </div>

                        <div class="flex">
                            <div class="img-icon1"></div>
                            <!-- <div class="ic1"></div> -->
                            <p class="pm1 op">Compare Your Favorite Cars</p>
                        </div>
                    </div>

                    <div class="flex">
                        <div class="img-icon1"></div>
                        <!-- <div class="ic2"></div> -->
                        <p class="pm2 op">More Than 100 Luxury Cars &
                            It's In Depth Specifications</p>
                    </div>
                    <div class="btn-hover">
                        <a href="about"><input type="button" value="About Us" style="color: black;" class="btn"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="w60">
        <div class="img-upload">
        </div>
    </div>




    <!-- <div class="w-100 bgc color" style="margin-top: 50px; padding-bottom: 100px;">
        <div class="w-1140 font">
            <div class="about-details">
                <h1>HOW ITS WORKS</h1>
            </div>
            <div class="about">
                <p>Buying used luxury cars in India was never this easy. You can now own your dream luxury car in just 4
                    simple</p>
                <p style="padding-top: 2px;">steps at Big Boy Toyz, India's trusted used car portal.</p>
            </div>
            <div class="showroom flex">
                <div class="w25">
                    <div class="photo"></div>
                    <p style="padding-top: 10px; font-size: 20px;">BROWSE FROM OUR COLLECTION</p>
                </div>
                <div class="w25">
                    <div class="photo1"></div>
                    <p style="padding-top: 10px; font-size: 20px;">GET TO KNOW YOUR RIDE</p>
                </div>
                <div class="w25">
                    <div class="photo2"></div>
                    <p style="padding-top: 10px; font-size: 20px;">PAY & BOOK ONLINE OR VISIT SHOWROOM</p>
                </div>
                <div class="w25">
                    <div class="photo3"></div>
                    <p style="padding-top: 10px; font-size: 20px;">INSTANT PAYMENT & TRANSFER</p>
                </div>
            </div>
        </div>
    </div> -->

    <div class="ae">
        <h1 class="text-center">Your feedback </span></h1>
        <!-- <p class="text-center text-dark fs-5">Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
        adipisci<br> expedita at voluptas atque vitae autem.</p> -->
        <br><br>
    </div>

    <div class="container p-5 bg-white-50">
        <form class="border p-3 bg-white-50 p-5" action="/feedback" method="post">
            <div class="row">
                <div class="form-group col-4">
                    <label for="exampleInputEmail1 text-white">Your Name</label>
                    <input type="text" class="form-control" name="username" id="user" aria-describedby="emailHelp"
                        placeholder="Your Name" autocomplete="off">
                    <div id="show-user"></div>
                    <br>
                </div>
                <div class="form-group col-4">
                    <label for="exampleInputEmail1 text-white">Email address</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                        placeholder="Enter email" autocomplete="off">
                    <div id="show-email"></div>
                </div>
                <br>
                <div class="form-group col-4">
                    <label for="exampleInputEmail1">Your number</label>
                    <input type="text" class="form-control" name="number" id="number" aria-describedby="emailHelp"
                        placeholder="Your number" autocomplete="off">
                    <div id="show-number"></div>
                </div>
                <div class="col-4"> </div>
                <div class="form-group col-4">
                    <label for="exampleInputPassword1">description</label>
                    <textarea name="description" id="description" id="" cols="40" rows="5"
                        autocomplete="off"></textarea>
                    <div id="show-description"></div>
                </div>
                <div class="col-4"> </div>
                <br>
                <div class="col-4"> </div>
                <div class="col-4 ms-5  ps-5">
                    <div class="ps-5 ms-5">
                        <input type="submit" class="btn text-dark btn-primary m-0" id="btn_submit" value="submit">
                    </div>
                </div>
            </div>
        </form>
    </div>


    <h2 class="text-center">Reviews</h2>
    <div class="slider-container  p-0" style="margin-left: 150px; background-color: rgb(44, 41, 41); border-radius: 20px;">
        <div class="left-arrow"><i class="fa fa-angle-left" style="font-size:24px"></i></div>
        <div class="slider-content" id='slider-content'>
            <!--  -->
            <% for(let i=0; i < d.length ; i++ ){ %>
                <div class='slide'>
                    <div class="media">
                        <img src="/images/Sample_User_Icon.png" alt="">
                    </div>
                    <p class="pb-3 fs-3">
                        <%= d[i].username %>
                    </p>
                    <div class="card-sections">
                        <div class="lower-section">
                            <div class="upper-section">
                                <div class="wishlist"><i class="fa fa-heart"></i></div>
                            </div>
                        </div>
                        <p>
                            <%= d[i].description %>
                        </p>

                    </div>
                </div>
                <% }%>
                    
                    <!-- <div class='slide'>
                <div class="media">
                    <img src="https://e0.pxfuel.com/wallpapers/244/435/desktop-wallpaper-pokemon-pokemon-lugia-pokemon-poster-pokemon-realistic-cool-lugia.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">
                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>
                    <div class="lower-section">
                        <div class="card-caption">
                            Lugia
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>
            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e0.pxfuel.com/wallpapers/827/281/desktop-wallpaper-kir00-on-lucario-mega-and-riolu-pokemon-cool-pokemon-pokemon-cute-riolu.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">
                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>
                    <div class="lower-section">
                        <div class="card-caption">
                            Lucario
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>
            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e0.pxfuel.com/wallpapers/366/829/desktop-wallpaper-pokemon-sword-and-shield-tcg-tip-zacian-and-zamazenta.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">
                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>
                    <div class="lower-section">
                        <div class="card-caption">
                            Zacian
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>

            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e0.pxfuel.com/wallpapers/254/462/desktop-wallpaper-mega-charizard-pokemon-cute-pokemon-cool-pokemon.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">

                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>

                    <div class="lower-section">
                        <div class="card-caption">
                            Mega Charizard
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>
            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e1.pxfuel.com/desktop-wallpaper/297/1019/desktop-wallpaper-pldh-%E2%9A%94%EF%B8%8F-pokemon-zacian.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">
                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>
                    <div class="lower-section">
                        <div class="card-caption">
                            Zacian and Zamazenta
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>
            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e1.pxfuel.com/desktop-wallpaper/508/779/desktop-wallpaper-pokemon-iphone-gallery-vmax-pokemon.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">

                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>

                    <div class="lower-section">
                        <div class="card-caption">
                            Lucario
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>

                </div>
            </div>
            <div class='slide'>
                <div class="media">
                    <img src="https://e1.pxfuel.com/desktop-wallpaper/218/426/desktop-wallpaper-pokemon-tcg-dragon-majesty-pokemon-card.jpg"
                        alt="">
                    <video src=""></video>
                </div>
                <div class="card-sections">
                    <div class="upper-section">
                        <div class="wishlist"><i class="fa fa-heart"></i></div>
                        <div class="cart"><i class="fa fa-cart-plus"></i></div>
                    </div>
                    <div class="lower-section">
                        <div class="card-caption">
                            Charizard
                        </div>
                        <div class="card-button">
                            know more
                        </div>
                    </div>
                </div>

            </div> -->
                    <div class="slider-content-background"></div>
        </div>
        <div class="right-arrow"><i class="fa fa-angle-right" style="font-size:24px"></i></div>
    </div>

    <!-- footer -->

    <div class="w-100 bgc color font" style="margin-top: 50px;">
        <div class="w-1140">
            <div class="footer flex op">
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">BBT WORLD</h3>
                    <ul>
                        <a href="">
                            <li>Why Us</li>
                        </a>
                        <a href="">
                            <li>About Us</li>
                        </a>
                        <a href="">
                            <li>The Team</li>
                        </a>
                        <a href="">
                            <li>Career</li>
                        </a>
                        <a href="">
                            <li>Associates</li>
                        </a>
                        <a href="">
                            <li>BBT Squad</li>
                        </a>
                        <a href="">
                            <li>Wallpaper</li>
                        </a>
                        <a href="">
                            <li>Our Showroom</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">GENERAL</h3>
                    <ul>
                        <a href="">
                            <li>Sell Car</li>
                        </a>
                        <a href="">
                            <li>FAQs</li>
                        </a>
                        <a href="">
                            <li>Videos</li>
                        </a>
                        <a href="">
                            <li>Blog</li>
                        </a>
                        <a href="">
                            <li>Auto Guide</li>
                        </a>
                        <a href="">
                            <li>Car News</li>
                        </a>
                        <a href="">
                            <li>Finance & Insurance</li>
                        </a>
                        <a href="">
                            <li>Sales Login</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <h3 style="padding-bottom: 20px;">BRANDS</h3>
                    <ul>
                        <a href="">
                            <li>Used Aston Martin</li>
                        </a>
                        <a href="">
                            <li>Used Audi</li>
                        </a>
                        <a href="">
                            <li>Used Bentley</li>
                        </a>
                        <a href="">
                            <li>Used BMW</li>
                        </a>
                        <a href="">
                            <li>Used Buick</li>
                        </a>
                        <a href="">
                            <li>Used Cadillac</li>
                        </a>
                        <a href="">
                            <li>Used Chevrolet</li>
                        </a>
                        <a href="">
                            <li>Used Chrysler</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used DC</li>
                        </a>
                        <a href="">
                            <li>Used Ducati</li>
                        </a>
                        <a href="">
                            <li>Used Ferrari</li>
                        </a>
                        <a href="">
                            <li>Used Fiat</li>
                        </a>
                        <a href="">
                            <li>Used Ford</li>
                        </a>
                        <a href="">
                            <li>Used Honda</li>
                        </a>
                        <a href="">
                            <li>Used Hummer</li>
                        </a>
                        <a href="">
                            <li>Used Hyundai</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used Jaguar</li>
                        </a>
                        <a href="">
                            <li>Used Jeep</li>
                        </a>
                        <a href="">
                            <li>Used Kawasaki</li>
                        </a>
                        <a href="">
                            <li>Used Lamborghini</li>
                        </a>
                        <a href="">
                            <li>Used Land Rover</li>
                        </a>
                        <a href="">
                            <li>Used Maserati</li>
                        </a>
                        <a href="">
                            <li>Used Maybach</li>
                        </a>
                        <a href="">
                            <li>Used McLaren</li>
                        </a>
                    </ul>
                </div>
                <div class="w-24">
                    <ul style="padding-top: 40px;">
                        <a href="">
                            <li>Used Mini</li>
                        </a>
                        <a href="">
                            <li>Used Nissan</li>
                        </a>
                        <a href="">
                            <li>Used Porsche</li>
                        </a>
                        <a href="">
                            <li>Used Rolls-Royce</li>
                        </a>
                        <a href="">
                            <li>Used Skoda</li>
                        </a>
                        <a href="">
                            <li>Used Toyota</li>
                        </a>
                        <a href="">
                            <li>Used Triumph</li>
                        </a>
                        <a href="">
                            <li>Used Volvo</li>
                        </a>
                    </ul>
                </div>
                <!-- <div class="w-24">
                    <h3 style="padding-bottom: 20px;">STYLE</h3>
                    <ul>
                        <a href="">
                            <li>Used SUV</li>
                        </a>
                        <a href="">
                            <li>Used Sedan</li>
                        </a>
                        <a href="">
                            <li>Used Convertible</li>
                        </a>
                        <a href="">
                            <li>Used Coupe</li>
                        </a>
                        <a href="">
                            <li>Used Sports</li>
                        </a>
                        <a href="">
                            <li>Used MUV-MPV</li>
                        </a>
                        <a href="">
                            <li>Used Hatchback</li>
                        </a>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>

    <div class="w-100 bgc color font">
        <div class="w-1140 ">
            <div class="flex letter">
                <p>Copyright © 2023 Big Dream Cars </p>
                <h5 class="op">| Privacy Policy | Cancellation & Refund | Terms of use | Site Map</h5>
            </div>

        </div>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/owl.carousel.min.js"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 0,
            nav: true,
            dots: false,
            autoplay: true,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 1
                },
                1000: {
                    items: 1
                }
            }
        })
    </script>
    <script>
        var sliders = document.querySelectorAll(".slide");
        var center = Math.floor(sliders.length / 2);
        var leftEndBack = center - 3 >= 0 ? center - 3 : undefined;
        var leftEnd = center - 2 >= 0 ? center - 2 : undefined;
        var leftMid = center - 1 >= 0 ? center - 1 : undefined;
        var rightMid = center + 1 < sliders.length ? center + 1 : undefined;
        var rightEnd = center + 2 < sliders.length ? center + 2 : undefined;
        var rightEndBack = center + 3 < sliders.length ? center + 3 : undefined;
        let touchstartX = 0
        let touchendX = 0
        let container = document.getElementById('slider-content');

        if (leftEndBack != undefined) sliders[leftEndBack].classList.add("position-none");
        if (leftEnd != undefined) sliders[leftEnd].classList.add("position-1");
        if (leftMid != undefined) sliders[leftMid].classList.add("position-2");
        if (center != undefined) sliders[center].classList.add("position-3");
        if (rightMid != undefined) sliders[rightMid].classList.add("position-4");
        if (rightEnd != undefined) sliders[rightEnd].classList.add("position-5");
        if (rightEndBack != undefined) sliders[rightEndBack].classList.add("position-none");

        if (sliders.length > 0) $('.slide').addClass('position-none');


        function leftScroll() {

            if (leftEndBack != undefined) {
                sliders[leftEndBack].classList.remove("position-none");
                sliders[leftEndBack].classList.add("position-1");
            }
            else {
                sliders[rightEnd].classList.remove("position-none");
                sliders[rightEnd].classList.add("position-1");
            }

            if (leftEnd != undefined) {
                sliders[leftEnd].classList.remove("position-1");
                sliders[leftEnd].classList.add("position-2");
            }

            if (leftMid != undefined) {
                sliders[leftMid].classList.remove("position-2");
                sliders[leftMid].classList.add("position-3");
            }

            if (center != undefined) {
                sliders[center].classList.remove("position-3");
                sliders[center].classList.add("position-4");
            }

            if (rightMid != undefined) {
                sliders[rightMid].classList.remove("position-4");
                sliders[rightMid].classList.add("position-5");
            }

            if (rightEnd != undefined) {
                sliders[rightEnd].classList.remove("position-5");
                sliders[rightMid].classList.add("position-none");
            }

            leftEndBack != undefined ? leftEndBack-- : leftEndBack;
            leftEnd != undefined ? leftEnd-- : leftEnd;
            leftMid != undefined ? leftMid-- : leftMid;
            center != undefined ? center-- : center;
            rightMid != undefined ? rightMid-- : rightMid;
            rightEnd != undefined ? rightEnd-- : rightEnd;
            rightEndBack != undefined ? rightEndBack-- : rightEndBack;

            if (leftEndBack != undefined && leftEndBack == -1)
                leftEndBack = sliders.length - 1;
            if (leftEnd != undefined && leftEnd == -1)
                leftEnd = sliders.length - 1;
            if (leftMid != undefined && leftMid == -1)
                leftMid = sliders.length - 1;
            if (center != undefined && center == -1)
                center = sliders.length - 1;
            if (rightMid != undefined && rightMid == -1)
                rightMid = sliders.length - 1;
            if (rightEnd != undefined && rightEnd == -1)
                rightEnd = sliders.length - 1;
            if (rightEndBack != undefined && rightEndBack == -1)
                rightEndBack = sliders.length - 1;
        }

        function rightScroll() {

            if (leftEnd != undefined) {
                sliders[leftEnd].classList.remove("position-1");
                sliders[leftEnd].classList.add("position-none");
            }
            if (leftMid != undefined) {
                sliders[leftMid].classList.remove("position-2");
                sliders[leftMid].classList.add("position-1");
            }
            if (center != undefined) {
                sliders[center].classList.remove("position-3");
                sliders[center].classList.add("position-2");
            }
            if (rightMid != undefined) {
                sliders[rightMid].classList.remove("position-4");
                sliders[rightMid].classList.add("position-3");
            }
            if (rightEnd != undefined) {
                sliders[rightEnd].classList.remove("position-5");
                sliders[rightEnd].classList.add("position-4");
            }
            if (rightEndBack != undefined) {
                sliders[rightEndBack].classList.remove("position-none");
                sliders[rightEndBack].classList.add("position-5");
            }
            else if (leftEndBack != undefined) {
                sliders[leftEndBack].classList.remove("position-none");
                sliders[leftEndBack].classList.add("position-5");
            }
            else {
                sliders[leftEnd].classList.remove("position-none");
                sliders[leftEnd].classList.add("position-5");
            }

            leftEndBack != undefined ? leftEndBack++ : leftEndBack;
            leftEnd != undefined ? leftEnd++ : leftEnd;
            leftMid != undefined ? leftMid++ : leftMid;
            center != undefined ? center++ : center;
            rightMid != undefined ? rightMid++ : rightMid;
            rightEnd != undefined ? rightEnd++ : rightEnd;
            rightEndBack != undefined ? rightEndBack++ : rightEndBack;

            if (leftEndBack != undefined && leftEndBack == sliders.length)
                leftEndBack = 0;
            if (leftEnd != undefined && leftEnd == sliders.length)
                leftEnd = 0;
            if (leftMid != undefined && leftMid == sliders.length)
                leftMid = 0;
            if (center != undefined && center == sliders.length)
                center = 0;
            if (rightMid != undefined && rightMid == sliders.length)
                rightMid = 0;
            if (rightEnd != undefined && rightEnd == sliders.length)
                rightEnd = 0;
            if (rightEndBack != undefined && rightEndBack == sliders.length)
                rightEndBack = 0;
        }

        class Swipe {
            constructor(element) {
                this.xDown = null;
                this.yDown = null;
                this.element = typeof (element) === 'string' ? document.querySelector(element) : element;

                this.element.addEventListener('touchstart', function (evt) {
                    this.xDown = evt.touches[0].clientX;
                    this.yDown = evt.touches[0].clientY;
                }.bind(this), false);

            }

            onLeft(callback) {
                this.onLeft = callback;

                return this;
            }

            onRight(callback) {
                this.onRight = callback;

                return this;
            }

            handleTouchMove(evt) {
                if (!this.xDown || !this.yDown) {
                    return;
                }

                var xUp = evt.touches[0].clientX;
                var yUp = evt.touches[0].clientY;

                this.xDiff = this.xDown - xUp;
                this.yDiff = this.yDown - yUp;

                if (Math.abs(this.xDiff) > Math.abs(this.yDiff)) {
                    if (this.xDiff > 0) {
                        this.onLeft();
                    } else {
                        this.onRight();
                    }
                } else {
                    if (this.yDiff > 0) {
                        this.onUp();
                    } else {
                        this.onDown();
                    }
                }

                this.xDown = null;
                this.yDown = null;
            }

            run() {
                this.element.addEventListener('touchmove', function (evt) {
                    this.handleTouchMove(evt).bind(this);
                }.bind(this), false);
            }
        }

        var swiper = new Swipe(container);


        //left scroll
        $(".left-arrow").on("click", leftScroll);

        swiper.onRight(function () {
            leftScroll();
        });
        swiper.run();

        $(".position-2").on("click", function () {
            leftScroll();
        });

        $(".position-1").on("click", function () {
            leftScroll();
            leftScroll();
        });



        // right scroll
        $(".right-arrow").on("click", rightScroll);

        swiper.onLeft(function () {
            rightScroll();
        });
        swiper.run();

        $(".position-4").on("click", function () {
            rightScroll();
        });

        $(".position-5").on("click", function () {
            rightScroll();
            rightScroll();
        });
    </script>
</body>




</html>